* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =========================================================================
  -           /   BODY  /                      
  ========================================================================== */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* =========================================================================
  -           /  .CONTAINER  /                
  ========================================================================== */

.container {
  display: flex;
}

/* =========================================================================
  -           /  .COL-1  /                                 ( I - stulpelis )
  ========================================================================== */

.col1 {
  width: 300px;
  height: 100vh;
  background-color: rgb(108, 119, 116);

  overflow-y: scroll;
}

/* =========================================================================
  -           /  .COL-1  /  .CONT  /           ( I - stulpelio konteineris )
  ========================================================================== */

.col1 .cont {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px auto 30px auto;
}

/* =========================================================================
  -           /  .COL-1  /  .CONT IMG  /        ( I - stulpelio Nuotraukos )
  ========================================================================== */

.col1 .cont img {
  width: 200px;
  height: 200px;
  display: inline-block;
  object-fit: cover;
}

/* =========================================================================
  -           /  .COL-2  /                                ( II - stulpelis )
  ========================================================================== */

.col2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(108, 119, 116);
}

/* =========================================================================
  -           /  .COL-2  /  .CONT             ( II - stulpelio CONTeineris )
  ========================================================================== */

.col2 .cont {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin: 10px auto 50px auto;
}

/* =========================================================================
  -           /  .COL-1  /  .CONT  IMG         ( II - stulpelio img langas )
  ========================================================================== */

.col2 .cont img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

/* =========================================================================
  -           /  # INFO  /                    ( II - stulpelio INFO langas )
  ========================================================================== */

#info {
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgb(108, 119, 116);
  color: beige;
}
